<doctype html>
    <html>
        <head>
            <style>
                .bf1{
                    background-image:url(BG.png);
                }
                .flex-container1{
                    display:flex;
                }
                .Nlogo{
                    margin-top: 0px;
                    margin-left:80px;
                }
            </style>
            <title>
                Netflix India-watch TV Shows Online,Watch Movies Online
            </title>
        </head>
        <body>
            <section class="bf1">
                <div class="display-container1">
                    <div class="Nlogo">
                        <img src="netflix1-removebg-preview.png " width="170px" height="150px">

                    </div>

                </div>

            </section>

        </body>
    </html>