<html>
    <head>
        <link rel="stylesheet" href="py_ex1_style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <header class="header">
          
          <a href="se_home.php" class="logo">Light<span style="color:aqua;">Code</span></a>
            <nav class="navbar">
              <a href="python.html" >Introduction</a>
                <a href="flow_control.html" >Flow control</a>
                <a href="python_functions.html" >Functions</a>
                
                <a href="filehandling.html" >File Handling</a>
                <a href="class&objects.html" >class&objects</a>
                
                <a href="python_ex.html" >Examples</a>
              

            </nav>
       </header>
       <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                1)Python program to copy odd lines of one file to other
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img src="py11.png" width="75%" height="1450%"><br>
              </div>
            </div>
          </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              2)Python program to merge 2 files into a third file
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <img src="py12.png" width="60%" height="1500%"><br><br>
                <img src="py12.1.png" width="60%" height="1000%"><br>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
             3)Python program to reverse a single line of a text file
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <img src="py13.png" width="60%" height="1500%">
                <img src="py13.2.png" width="60%" height="500%"><br>
                <img src="py13.1.png" width="60%" height="500%"><br>
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="heading4">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
              4)Implement all the functions in file handling
              </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img src="py14.png" width="90%" height="1600%"><br><br>
                <img src="py14.1.png" width="70%" height="1400%"><br><br>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="heading5">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
              5)Python program to read file word by word                                                                                       
              </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img src="py15.png" width="70%" height="1600%"><br>
              </div>
            </div>
          </div>

      </div>
            
                
    </body>
</html>