<html>
    <head>
        <link rel="stylesheet" href="python_ex_style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header class="header">
         
            <a href="se_home.php" class="logo">Light<span style="color:aqua;">Code</span></a>
            <nav class="navbar">
                <a href="python.html" >Introduction</a>
                <a href="flow_control.html" >Flow control</a>
                <a href="python_functions.html" >Functions</a>
                <a href="filehandling.html" >File Handling</a>
                <a href="class&objects.html" >class&objects</a>
                <a href="python_ex.html" >Examples</a>
            </nav>
       </header>
            <!-- Add font awesome icons to buttons  -->
            <div class="example">
                <p>Icon buttons:</p>
                <button class="btn btn-danger"><a href="py_ex1.html" style="text-decoration: none;">Basic Programs</a></button> <br>
                <button class="btn btn-info" ><a href="py_ex2.html" style="text-decoration: none;">Array Programs</a></button><br>
                <button class="btn btn-success"><a href="py_ex3.html" style="text-decoration: none;">File Handling programs</a></button><br>
                <button class="btn btn-secondary"><a href="py_ex4.html" style="text-decoration: none;">OOPS programs</a></button><br>
                <button class="btn btn-warning"><a href="py_ex5.html" style="text-decoration: none;">Python Regex programs</a></button><br>
            </div>
    </body>
</html>