<!DOCTYPE html>
<html>
<head>
    <title> PYTHON QUIZ</title>
    <link rel="stylesheet" href="python_quiz_style.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo" style="margin-right:30px;">Light<span style="color: aqua;">Code</span></a>
        <nav class="navbar">
            <a href="#">Introduction</a>
            <a href="#">SQL SELECT(I)</a>
            <a href="#" >SQL SELECT(II)</a>
            <a href="#" >SQL JOIN</a>
            <a href="#" >SQL Database</a>
            <a href="#" >SQL Insert and Delete</a>
            <a href="#" >Quiz</a>
        </nav>
    </header>
    <div class="app">
        <h1>Take a Quiz on PYTHON</h1>
        <div class="quiz">
            <h2 id="question">Question goes here</h2>
            <div id="answer-buttons">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
                <button class="btn">Answer 3</button>
                <button class="btn">Answer 4</button>
            </div>
            <button id="next-btn">NEXT</button>
        </div>
    </div>
    <script src="python_quiz_script.js"></script>
</body>
</html>